li {
    
    text-decoration: none;
    display: inline;
    background-color: rgba(0, 0, 0, 0.705);
    padding: 10px 0;
    border-top: 3px  black;
    border-bottom: 3px black;
    margin: 0;
    padding-left: 50px;
    padding-right: 10px;
    position: absolute;
    top: 0px;
    left: 50px;


}

 li a{ 
    
    font-family: sans-serif;   
    list-style-type: none;
    text-decoration: none;
    text-decoration-color: black;
    color:white;
    display: block;

}
