.icon{
  position: absolute;
  bottom: 540px;
  left: 940px;
  opacity: 0.8;
  max-width: 3%;
  height: auto;
}


ul {
  list-style-type: none;
  margin-top: 300;
  margin-left: 1000px;
  top:0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  border-radius: 5px;
  

}

li {
  float: right;
  border-right: solid 1px white;
  background: black;
  padding: 5px 8px 5px 5px;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: white;
}

li a:hover {
  background-color: red;
}


li a.aktiv{
  color: orange;
  font-weight: 1000;
}

.Kontaktformular{
  width: 550px;
  font-size: 20pt;
  font-family: sans-serif;
  font-weight: bold;
  color: #006680;
}





.formular{
  background: lightgrey;
  font-size: 10pt;
  color: white;
  width: 200px;
  padding: 5px 5px 5px 5px;
  margin-left: 210px;
  text-align: left;
}

.nachricht{
  background: lightgrey;
  font-size: 10pt;
  color: white;
  width: 200px;
  padding: 20px 80px 5px 5px;
  margin-left: 210px;
  text-align: left;
}

.DSGVO{
  color: lightgrey;
  font-size: 10pt;
  position: relative;
  text-align: left;
  margin-left: 210px;
}

.absenden{
  color: white;
  background: lightgrey;
  font-size: 15pt;
  width: 90px;
  padding: 5px 5px 5px 5px;
  margin-left: 210px;
}

div {

text-align: left;
width: 800px;
text-align: center;

}

.uber{
margin-left:50px;
}

main div p {

text-align: left;
font-family: sans-serif;
color: #006680;
}


