.icon{
  position: absolute;
  bottom: 540px;
  left: 940px;
  opacity: 0.8;
  max-width: 3%;
  height: auto;
}


ul {
  list-style-type: none;
  margin-top: 300;
  margin-left: 1000px;
  top:0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  border-radius: 5px;
  

}

li {
  float: right;
  border-right: solid 1px white;
  background: black;
  padding: 5px 8px 5px 5px;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: white;
}

li a:hover {
  background-color: red;
}


li a.aktiv{
  color: orange;
  font-weight: 1000;
}

.Navigation {
  position: fixed;
  right: 0;
    top: 0;
  }

.title{
  margin: 0 auto;
  width: 50%;
  text-align: left;
  padding-bottom: 10px;
  font-size: 42px;
  color: white;
}

.name { 
  background-color: lightgrey;
  border-bottom: 5px solid white;
  color: white;
  width:300px;
}


.email {
  background-color: lightgrey;  
  border-bottom: 5px solid lightgrey;
  height:50px;
  width:300px;
  
}
.submit{
  border-radius:5px;
  padding:10px;
  background-color: #2DD7BB;  
  border: none;
  border-bottom: 5px solid lightgrey; 
  transform: translateY(-120px); 


}

.entry{
  display: block;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit{
  border-radius:5px;
  padding:10px;
  width:150px;
  color: white;
  background-color: lightgrey;  
  border: none;
  border-bottom: 5px solid lightgrey; 
  margin-top: 130px; 


}

div {

text-align: left;
width: 800px;
text-align: center;

}

main div p {

text-align: left;
font-family: sans-serif;
color: #006680;
}


