.Karte {
    position: fixed;
    z-index: -100;
    }
    
   
    .div1 {
        position: fixed;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: 750px;
        margin-top: 350px;
        display: flex;
    }

    .div2 {
        position: fixed;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: 500px;
        top: 215px;
        display: flex;
        z-index: 0px;
       
    }

    .div3 {
        position: fixed;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: 822px;
        top: 435px;
        display: flex;
        z-index: 999px;

    }
    
    .video {
        position: fixed;
        z-index: -50px;
    }

    .Schleife{
        position: fixed;
        z-index: 999px;

    }
    
    