.Karte {
    position: fixed;
    }
    

    .div1 {
        position: fixed;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: 625px;
        margin-top: 350px;
        display: flex;
       
    }

    .text1 {
        display: block;
        position: fixed;
        color: whitesmoke;
        left: 480px;
        top: 330px;
        text-align: center;
        font-size: medium;
        color: black;
    }


    .text2 {
        display: block;
        position: fixed;
        color: whitesmoke;
        left: 650px;
        top: 330px;
        text-align: center;
        font-size: medium;
        color: black;
    }

    .text3 {
        display: block;
        position: fixed;
        color: whitesmoke;
        left: 745px;
        top: 450px;
        text-align: center;
        font-size: medium;
        color: black;
    }

    .text4 {
        display: block;
        position: fixed;
        color: whitesmoke;
        left: 825px;
        top: 330px;
        text-align: center;
        font-size: medium;
        color: black;
    }
    
    .text5 {
        display: block;
        position: relative;
        color: whitesmoke;
        left: -135px;
        top: 92px;
        text-align: center;
        font-size: medium;
        color: black;
    }

     .Überschrift{
        display: block;
        position: fixed;
        color: whitesmoke;
        left: 500px;
        top: 225px;
        text-align: center;
        font-size: xx-large;
        color:white;
        font-weight: bold;

    }